<!-- template base para iniciar o desenvolvimento do site -->
<!-- Já inclui os scripts base do js e do css assim como as meta tags basicas para iniciar -->
<!DOCTYPE html>
<html lang="en"> 
<head>
	{{> head-scripts}}
	{{> head-metatags}}
</head>
<body>
	<main id="main">
		<p></p>
		<p></p>
	</main>
	{{> footer-scripts}}
</body>
</html>