.header {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-top: 30px;
	&--logo {
		// margin-bottom: 0;
	}
	&--search {
		position: relative;
		&:before {
			content: '\f002';
			position: absolute;
			top: 50%;
			left: 3%;
      transform: translateY(-50%);
			font: normal normal normal 14px/1 FontAwesome;
			font-size: .9em;
			color: $orange;
		}
	}
	&--product {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-basis: 20%;
	}
	&--shipping {
		font-size: 1em;
		font-style: italic;
		color: $orange;
		margin-bottom: 0;
		span {
			display: block;
			font-size: 0.8em;
		}
	}
	&--bag {
		display: flex;
		.fa {
			color: $purple;
			font-size: 2em;
		}
		p {
			margin-left: 10px;
			margin-bottom: 0;
			color: $gray;
			text-transform: uppercase;
			font-weight: 500;
			span {
				color: $orange;
			}
		}
	}
	&--menu {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: $purple;
	}
	&--link {
		display: block;
		padding: 20px;
		color: $white;
		border-radius: 7px;
		&:hover {
			text-decoration: none;
			color: $white;
			background-color: $dark-purple;
		}
	}
	&--login {
		p {
			margin-bottom: 0;
			color: $light-purple;
		}
		span {
			color:$white;
			font-style: italic;
		}
	}
	&--mobile {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 0 15px;
		position: relative;
		padding-bottom: 10px;
		.header {
			&--search {
				// position: absolute;
				// top: 0;
				// visibility: hidden;
				display: none;
				&.show {
					// visibility: visible;
					display: block;
					order: 1;
				}
			}
			&--menu {
				position: absolute;
				top: 100%;
				display:block;
				visibility: hidden;
				animation-duration: .91s;

				.list-inline {
					li {
						display: block;
						border-bottom: 1px solid $light-purple;
						padding-left: 40px;
					}
				}
				&.open {
					// display: block;
					visibility: visible;
				}
			}
			&--nav {
				// margin-left: 40px;	
			}
			&--link {
				padding:6px;
				border-bottom: 0px;
			}
			&--login {
				padding: 20px;
				text-align: center;
			}
			&--logo {
				&.hidden {
					display: none;
				}
			}
			&--bag {
				&.hidden {
					display: none;
				}
			}
			&--logo {
				margin: 0 10px;
			}
		}
	}
	
	&--hamburger {
		min-width: 30px;
		order: 0;
		span {
			display: block;
			height: 4px;
			width: 30px;
			margin-bottom: 5px;
			border-radius: 6px;
			background-color: $purple;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
		&.open {
			position: relative;

			span {
				position: absolute;
				display: none;
				&:first-child(),
				&:last-child() {
					display: block;
					
				}
				&:first-child {
					-webkit-transform: rotate(45deg);
					   -moz-transform: rotate(45deg);
					    -ms-transform: rotate(45deg);
					     -o-transform: rotate(45deg);
					        transform: rotate(45deg);
				}
				&:last-child {
					-webkit-transform: rotate(-45deg);
					   -moz-transform: rotate(-45deg);
					    -ms-transform: rotate(-45deg);
					     -o-transform: rotate(-45deg);
					        transform: rotate(-45deg);
				}
			}
		}
	}

}
@media (max-width: 575px) {
	.header {
		display: block;
		&--bag {
			flex-direction: column;
			min-width: 50px;
			p {
				margin-left: 0;
			}
		}
		&--product {
			display: block;
		}
		&--shipping {
			display: block;
			text-align: center;
			background-color: lighten($gray, 22);
			padding: 6px;
			color: darken($gray, 20);
			color: #777;
			span {
				display: inline-block;
			}
		}
	}
}