<header class="header">
	<figure class="header--logo">
		<img src="samples/logo.png" alt="">
	</figure>
	<div class="header--search ">
		<input class="input" type="text" placeholder="Search our stock">
	</div>
	<p class="header--shipping">
		<span>Free Shipping</span>
		on orders over $50
	</p>
	<div class="header--bag">
		<span class="fa fa-magic"></span>
			<p>Bag: <span>1</span></p>
	</div>
	<nav class="header--nav">
		<ul class="list-inline">
			<li><a href="#">Potions</a></li>
			<li><a href="#">Ingredient</a></li>
			<li><a href="#">Books</a></li>
			<li><a href="#">Supplies</a></li>
			<li><a href="#">Charms</a></li>
			<li><a href="#">Clearance!</a></li>
		</ul>
		<div class="header--login">
			<a href="#">Sign In</a>
			or
			<a href="#">Sign Up</a>
		</div>
	</nav>
	<div class="header--hamburger">
		<span></span>
		<span></span>
		<span></span>
	</div>
</header>