<section class="section products">
	<h2 class="section--title">Potions</h2>	
	<div class="products--grid">
		{{> molecules/mol-product}}
		{{> molecules/mol-product}}
		{{> molecules/mol-product}}
		{{> molecules/mol-product}}
		{{> molecules/mol-product}}
		{{> molecules/mol-product}}
	</div>
</section>