<header class="header">
	<figure class="header--logo"><img src="samples/logo.png" alt=""></figure>
	<div class="header--search"><input class="input" type="text" placeholder="Search our stock"></div>
	<div class="header--product">
		<p class="header--shipping">
			Free Shipping <span>on orders over $50</span>
		</p>
		<div class="header--bag">
			<span class="fa fa-magic"></span>
			<p>Bag: <span class="header--content">1</span></p>
		</div>
	</div>
	<div class="header--menu">
		<nav class="header--nav">
			<ul class="list-inline">
				<li><a href="#" class="header--link">Potions</a></li>
				<li><a href="#" class="header--link">Ingredients</a></li>
				<li><a href="#" class="header--link">Books</a></li>
				<li><a href="#" class="header--link">Supplies</a></li>
				<li><a href="#" class="header--link">Charms</a></li>
				<li><a href="#" class="header--link">Clearence</a></li>
			</ul>
		</nav>
		<div class="header--login">
			<p><span>Sign In</span> or <span>Sign Up</span></p>
		</div>
	</div>
</header>