<a class="products--item" href="#">
	<figure>
		<img src="samples/products/aging-potion.png" alt="#">
	</figure>
	<h3 class="products--title">Aging Potion - <span class="products--price">$29.99</span></h3>
</a>